---
layout: page
title:  "Résumé"
description: "Work experience, professional capabilities, education information and more"
permalink: /resume
---
<h2>About me</h2>
<p>I'm a creative engineer and entrepreneur who loves working with like-minded people to solve big problems.</p>
<p>I have a background working with both startups (Duxe, Jumpcut) and tech giants (like Atlassian). I love applying elegant engineering solutions to solve any challenges my team and I come up against.</p>
<p>I’m passionate about solving problems that face real people. My greatest achievements are centered around building interfaces and platforms that are accessible to a wide range of audiences.</p>

<hr/>

<h2>Experience</h2>
<h4>Software Engineer at FOX SPORTS Australia<br/>
    <small>November 2017 - Present</small>
</h4>
<p>I work on a greenfield team developing prototypes, proof of concepts, and new products for FOX SPORTS Australia. My work mainly involves functional reactive programming on front end projects in the video streaming space.</p>

<h4>Co-Founder at Partifex<br/>
    <small>April 2017 - March 2018</small>
</h4>
<p>I was a founding partner at Partifex, a group of SaaS development specialists based in Sydney, Australia. We worked with companies to provide technical guidance and to build software products iteratively and sustainably. From a technical standpoint, my work here typically involved using React and Redux to build elegant data visualisations and user interfaces, and using the Django framework to build API back-ends deployed to AWS.</p>

<h4>Software Engineer at Duxe<br/>
    <small>November 2016 - April 2017</small>
</h4>
<p>As a Software Engineer working with Duxe I was responsible for a variety of tasks, including creating intricate front end data visualisations in React with Flux, managing the deployment and hosting of multiple client cloud instances on the Heroku platform, and building reliable, scalable back-end services in Python on the Django framework.
    This work was done with a small team of four, including two engineers.
</p>
<h4>Intern Software Engineer at Macquarie Group<br/>
    <small>August 2015 - February 2016</small>
</h4>
<p>I developed a series of Node.js microservices and React-based user interfaces to hook Macquarie's online banking platforms into a big data core. My work included the design and implementation of data visualization applications and user authentication systems.
    During this time I worked in a cross-functional team of roughly 15 people, responsible for Macquarie’s big data personal banking systems.
</p>

<h4>Intern Software Engineer at Atlassian<br/>
    <small>November 2012 - February 2013</small><br/>
    <small>December 2013 - February 2014</small><br/>
    <small>February 2015 - August 2015</small>
</h4>
<p>In my first internship at Atlassian I worked as a developer on Confluence and developed the in-house Node.js monitoring application <a href="https://bitbucket.org/atlassian/atlasboard" rel="noopener">AtlasBoard</a></p>
<p>In my second internship I built a responsive mobile interface for Confluence Questions and developed integrations between Confluence Questions and other Atlassian products including HipChat and Confluence Spaces.</p>
<p>In my third and final internship I worked in the purchasing team to maintain and improve Atlassian's hosted account management system, as well as to help run A/B tests to increase customer sign-up rates. Practically speaking, this involved working with Node.js microservices, and AngularJS user interfaces.</p>
<p>In each of these internships I worked on cross-functional teams of roughly 8 people, including product managers and designers, with a full stack of capabilities.</p>

<h4>Casual Academic at University of New South Wales<br/>
    <small>February 2014 - December 2014</small><br/>
    <small>February 2016 - December 2016</small>
</h4>
<p>The first course I tutored required students to develop an autonomous search and rescue robot. The second course I tutored involved teaching computer science concepts to engineering and science students using the C programming language.
    I usually taught two classes of roughly 25 students each, where students had a diverse range of backgrounds, English language ability, and engineering competency. During this time I also mentored two assistant tutors, who later became casual academics.
</p>

<h4>Co-Founder at Jumpcut<br/>
<small>December 2014 - June 2015</small>
</h4>
<p>I co-founded Jumpcut, a platform which helps online video creators empower their audience with a suite of tools to navigate long form video.
    As a technical co-founder I was involved in leadership and decision making as well as execution and product development. From an engineering perspective, I led the development of an AngularJS dashboard that interfaced with a Django API back-end.
    Jumpcut is an alumnus of the University of Sydney Union Incubate startup accelerator.</p>

<h4>Junior Software Developer at Cordelta<br/>
    <small>February 2011 - July 2012</small>
</h4>
<p>I worked as a PHP Developer on a social web application, gaining experience on both the front and back ends. I was part of a major overhaul of the testing infrastructure, and gained experience with modern automated testing approaches. The team I worked on usually contained four members, including three engineers and a product manager.</p>

<hr/>

<h2>Education</h2>
<h4>University of New South Wales, 2012 - 2016</h4>
<p>Bachelor of Engineering (Software Engineering) <i>(First Class Honours)</i></p>
<p>Honours Thesis: <a download href="{{ "/assets/files/thesis.pdf" | prepend: site.baseurl }}">Game tree learning enhancements for multiplayer Chess</a></p>

<hr/>

<h2>Honours and Awards</h2>
<h4>UNSW School of Engineering - Dean's Honours List<br/>
<small>2013, 2014, 2015</small>
</h4>
<p>Awarded to high performing students within the faculty. I received this award in every year that I was eligible.</p>
<h4>UNSW Co-Op Scholarship<br/>
<small>2012 - 2016</small>
</h4>
<p>The Co-Op Scholarship is a merit-based scholarship awarded to students with high industry potential. </p>
<h4>Optiver Prize<br/>
<small>2014</small>
</h4>
<p>Awarded by Optiver to the first placed team in the development of an automated high frequency trading platform.</p>
<h4>Macquarie Prize<br/>
<small>2013</small>
</h4>
<p>Awarded by Macquarie Group to the first placed team in the development of a data visualisation dashboard for the 2013 Federal Election.</p>

<hr/>

<h2>Volunteering</h2>
<h4>Technical Mentor at Fishburners<br/>
    <small>May 2017 - Present</small>
</h4>
<p>Each month I volunteer at the Fishburners startup co-working space in short consulting sessions with Sydney startups. I’ve provided value in a number of ways here, including advising startups on automating their business processes, developing potential system architectures, and providing recommendations on how certain market inefficiencies can be solved by technology.</p>

<h4>
    Treasurer and Secretary at CREATE UNSW<br/>
    <small>2014</small>
</h4>
<p>I assisted in the logistics and day to day running of CREATE, a prominent maker society founded at UNSW. My responsibilities included managing the club's finances, which include tens of thousands of dollars of assets, and organising executive meetings.</p>