<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="William Archinal, Software Engineer">
  <meta name="robots" content="all">
  <meta name="author" content="William Archinal">

  <!--Social stuff-->
  <meta property="og:site_name" content="William Archinal"/>
  {% if page.social_tags %}
  {% if page.title %}<meta property="og:title" content="{{ page.title | escape }}"/>{% endif %}
  <meta property="og:image" content="{% if page.social_image %}{{ page.social_image }}{% endif %}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="{% if page.social_description %}{{ page.social_description }}{% elsif page.excerpt%}{{ page.excerpt | strip_html | truncate: 160 }}{% endif %}"/>
  {% endif %}

  <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl }}">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Source+Sans+Pro:400,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/stylesheets/{% if site.blog_theme == "light" %}light.css{% else %}dark.css{% endif %}">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/stylesheets/custom.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

</head>
