body .wrapper {
    max-width: 1100px;
}

.post-metadata {
    padding-top: 20px;
}

ul.inline-list {
    list-style: none;
    display: flex;
    justify-content: center;
    li {
        padding-right: 16px;
    }
}

.post-container {
    a {
        text-decoration: underline;
        text-decoration-style: dotted;
    }
}

@media (max-width: 768px) {
    header.header {
        display: block;

        nav {
            //min-height: 25px;
            width: 100%;
            ul {
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 1024px) {
    figure.highlight code {
        font-size: 16px;
        line-height: 16px;
    }
}