/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 15px;
  line-height: 1.5; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #181818;
  color: #ffffff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.5;
  text-rendering: optimizeLegibility; }

a {
  color: #6F6F6F;
  text-decoration: none;
  transition: all .3s; }
  a:hover {
    color: rgba(111, 111, 111, 0.7); }

blockquote {
  border-left: 5px solid #F0F564;
  font-style: italic;
  padding-left: 1.1rem;
  margin-left: 1.2rem;
  color: #6F6F6F; }

.clearfix::before, .clearfix::after {
  content: "";
  display: block;
  clear: both; }

.divider::after {
  content: "-";
  display: inline-block;
  position: relative; }

.highlight {
  background: #181818;
  margin: 0;
  border-radius: 3px; }

.highlight pre {
  padding: 1rem 2rem;
  overflow-x: auto; }

/* custom padding pre */
.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
.highlighter-rouge {
  color: #e74b3c;
  font-weight: 400;
  border: 1px solid #6F6F6F;
  border-radius: 3px;
  padding: 0.1rem 0.5rem; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem; }
  .header .logo {
    text-align: center;
    font-size: 1rem; }
    .header .logo .logo-link {
      display: inline-block;
      text-decoration: none;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 1.1;
      font-weight: 700;
      border-bottom: 3px solid #F0F564;
      border-top: 3px solid #F0F564;
      padding: 1rem 1.5rem;
      transition: ease-in-out .3s; }
      .header .logo .logo-link:hover {
        background: #F0F564;
        color: #181818; }
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header ul li {
      float: left; }
      .header ul li a {
        display: inline-block;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        padding: 1rem 1.5rem;
        color: #ffffff;
        transition: ease-in-out .3s; }
        .header ul li a:hover {
          background-color: #F0F564;
          color: #181818; }

.wrapper {
  max-width: 960px;
  margin: 0 auto 2rem; }

.home {
  width: 100%; }

.page-heading {
  padding-bottom: 3rem; }
  .page-heading .page-title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 1.1;
    text-align: center;
    color: #ffffff; }

.about {
  margin: 0 1rem;
  padding: 2rem;
  background-color: #272727;
  border-top: 3px solid #F0F564;
  border-bottom: 3px solid #F0F564;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); }
  .about .container-face {
    margin-bottom: 1rem;
    text-align: center; }
  .about .tagline {
    font-size: 1.1rem;
    text-align: center;
    color: #6F6F6F;
    letter-spacing: 5px;
    font-weight: 400;
    margin: 0 auto 2rem;
    max-width: 500px; }
    .about .tagline::after {
      content: "";
      display: block;
      width: 120px;
      height: 2px;
      margin: auto;
      margin-top: 0.9rem;
      background-color: #323232; }
  .about img.face {
    border-radius: 50%;
    width: 200px;
    max-width: 100%; }

.about-description {
  margin-bottom: 2rem; }

.contact-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .contact-list li {
    margin-bottom: 0.3rem; }
    .contact-list li a {
      font-family: monospace;
      text-decoration: none;
      border-radius: 5px;
      display: block;
      color: #ffffff;
      padding: 0.5rem 0.8rem;
      background-color: #181818; }
      .contact-list li a:hover {
        opacity: .8;
        transform: translateX(3px); }

.post-box {
  margin: 0 1rem;
  padding: 2rem;
  background-color: #272727;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); }

.post-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .post-list .post-item {
    position: relative;
    display: block;
    padding: 2.5rem 0;
    border-bottom: 1px solid #323232; }
    .post-list .post-item .post-header .post-link {
      text-decoration: none;
      color: #ffffff;
      transition: all .3s; }
      .post-list .post-item .post-header .post-link:hover {
        opacity: .7; }
        .post-list .post-item .post-header .post-link:hover i.fa-long-arrow-right {
          transform: translateX(7px);
          transition: all .2s; }

.rss-subscribe {
  color: #6F6F6F;
  transition: all .3s; }
  .rss-subscribe:hover {
    color: #F0F564; }

.article-list-footer {
  font-family: monospace;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  opacity: .6; }

.page-header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem; }
  .page-header .page-title {
    margin-bottom: 0.7rem;
    color: #ffffff; }
  .page-header .page-list-date {
    font-family: monospace;
    font-weight: 400;
    letter-spacing: 2px;
    color: #6F6F6F; }

.post-container {
  background-color: #272727;
  margin: 0 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); }
  .post-container .post-content {
    padding: 1.5rem 2rem 2rem; }
    .post-container .post-content article {
      border-bottom: 2px solid #323232;
      padding-bottom: 1rem; }
  .post-container .post-img {
    width: 100%; }
  .post-container img {
    width: 100%; }
  .post-container .post-share {
    padding: 1rem 0; }
    .post-container .post-share h5 {
      display: inline-block; }
    .post-container .post-share a {
      font-size: 1.1rem;
      margin-left: 0.4rem; }

.footer {
  color: #323232;
  padding: 0.7rem 1.5rem; }
  .footer .copyright {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7rem; }

@media screen and (min-width: 500px) {
  html {
    font-size: calc(15px + 7 * ((100vw - 500px) / 900)); } }
@media screen and (min-width: 1400px) {
  html {
    font-size: 22px; } }
@media (max-width: 480px) {
  .page-heading .page-title {
    font-size: 3.5rem;
    line-height: 1.2; }

  .contact-list li a {
    font-size: 0.7rem; } }

/*# sourceMappingURL=dark.css.map */
