---
layout: default
---

<div class="home">
  <div class="page-heading">
    <h2 class="page-title">About me</h2>
  </div>
  <div class="about">
    <div class="container-face">
      <img class="face" src="{{site.baseurl}}/assets/img/{% if site.pic %}{{ site.pic }}{% endif %}" alt="">
    </div>
    <h2 class="tagline">{% if site.tagline %}{{site.tagline}}{% endif %}</h2>
    <div class="about-description">
      <p>{% if site.about-description %}{{site.about-description}}{% endif %}</p>
    </div>
    <div class="contact-contaiver">
      <ul class="contact-list">

        {% if site.email %}
          <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i> {{site.email}}</a></li>
        {% endif %}

        {% if site.phone %}
          <li class="phone"><a href="tel:{{site.phone}}"><i class="fa fa-phone"></i> {{site.phone}}</a></li>
        {% endif %}

        {% if site.website %}
          <li class="website"><a href="https://{{site.website}}" target="_blank" rel="noopener"><i class="fa fa-globe"></i> {{site.website}}</a></li>
        {% endif %}

        {% if site.linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i> linkedin.com/in/{{site.linkedin}}</a></li>
        {% endif %}

        {% if site.github %}
          <li class="github"><a href="https://github.com/{{site.github}}" target="_blank" rel="noopener"><i class="fa fa-github"></i> github.com/{{site.github}}</a></li>
        {% endif %}

        {% if site.bitbucket %}
          <li class="bitbucket"><a href="https://bitbucket.org/{{site.bitbucket}}" target="_blank" rel="noopener"><i class="fa fa-bitbucket"></i> bitbucket.org/{{site.bitbucket}}</a></li>
        {% endif %}


      </ul>
    </div>
  </div>
</div>
