---
layout: default
---
<div class="page-heading">
    <h1 class="page-title">{{page.title}}</h1>
</div>
<div class="post-container">
    {% if page.img %}
    <img class="post-img" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
    {% endif %}
    <div class="post-content">
        <article>
            {{page.content }}
        </article>
    </div>
</div>
